<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Pandas Series: One-dimensional labeled array

A **Pandas Series** is a core data structure in the Pandas library, representing a **one-dimensional labeled array** capable of holding any data type (integers, strings, floats, Python objects, etc.).

Pandas builds on NumPy, and a Series can be thought of as a NumPy array with axis labels. Each element in a Series is associated with an index, which adds meaning to data and enables powerful operations.

Pandas Series main characteristics include:

* One-dimensional, like a NumPy array, but with **explicit labels (index)**
* Can hold **heterogeneous data types**
* Integrated with **alignment-aware operations** (e.g., auto-aligning on index)
* Supports **vectorized operations** and **missing data handling**

The index is what makes Series special. For example, you can perform computations between Series objects with different indices â€” Pandas will automatically align them by label. This makes Series extremely useful for **time series**, **data analysis**, and **data transformation** tasks.

Unlike plain arrays, Series objects behave more like enhanced dictionaries: values + index = meaning + performance.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# The Group Of Seven example

We'll start analyzing "[The Group of Seven](https://en.wikipedia.org/wiki/Group_of_Seven)". Which is a political formed by Canada, France, Germany, Italy, Japan, the United Kingdom and the United States. We'll start by analyzing population, and for that, we'll use a `pandas.Series` object.

<img width="350" src="https://user-images.githubusercontent.com/872296/38149656-b5ce9816-3431-11e8-88e4-195756e25355.png" />

^^^ We will create the frame which will represent above (step by step)

In [88]:
import pandas as pd

print("pands version:", pd.__version__)
import numpy as np

print("numpy version:", np.__version__)

pands version: 2.3.0
numpy version: 2.3.1

# Basic Series creation

In [89]:
# recall numpy creation

arr = np.array([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
arr

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [90]:
# creating series quite similar

g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [91]:
arr = np.array([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
pd.Series(arr)  # you can also create Series from numpy array

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

# Series attributes (index, values, name, dtype etc)

## dtype, shape
- like a numpy you can see shape and dtype

In [92]:
print(g7_pop.shape)  # always 1D
print(g7_pop.dtype)

(7,)
float64

## values 

`Series` values are actually backed by `NumPy` arrays!</br>
Most attributes and methods you have learned from NumPy can be also applied!

Thanks to its NumPy backend, a Pandas Series behaves much like a NumPy array â€” but with labels. Because a Series is inherently one-dimensional and array-like, you can call vectorized operations **directly** on it. Pandas delegates numerical methods like `.mean()`, `.sum()`, `.std()` directly to the underlying array logic. This is both convenient and efficient, while still preserving index alignment and metadata.

In [93]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [94]:
g7_pop.values.mean()

np.float64(107.30257142857144)

In [95]:
g7_pop.mean()

np.float64(107.30257142857144)

In [96]:
g7_pop.mean().round()

np.float64(107.0)

In [97]:
g7_pop.values.astype(int)

array([ 35,  63,  80,  60, 127,  64, 318])

In [98]:
g7_pop.astype(int)  # not going to overwrite

0     35
1     63
2     80
3     60
4    127
5     64
6    318
dtype: int64

In [99]:
g7_pop  # even though you just did astype(int) the date type is still float

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

## name
And also that series does NOT have name yet. Someone might not know we're representing population in millions of inhabitants. Series can have a `name`, to better document the purpose of the Series which ww will assign now.

In [100]:
print(g7_pop.name)  # yet None

None

In [101]:
g7_pop.name = "G7 Population in millions"
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

## index

Note that above series has default range index of `index` by default. We will assign string index soon.

### range index

In [102]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [103]:
type(g7_pop.index)

pandas.core.indexes.range.RangeIndex

In [104]:
g7_pop[4], g7_pop[1], g7_pop[0]

(np.float64(127.061), np.float64(63.951), np.float64(35.467))

In [105]:
g7_pop[1:-1]

1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
Name: G7 Population in millions, dtype: float64

In [106]:
g7_pop[[2, 5, 3]]

2    80.940
5    64.511
3    60.665
Name: G7 Population in millions, dtype: float64

lets update our index starts from 100

In [107]:
g7_pop.index = range(100, 450, 50)
g7_pop

100     35.467
150     63.951
200     80.940
250     60.665
300    127.061
350     64.511
400    318.523
Name: G7 Population in millions, dtype: float64

In [108]:
g7_pop.index

RangeIndex(start=100, stop=450, step=50)

In [109]:
# g7_pop[4], g7_pop[1], g7_pop[0], g7_pop[2] # error

Indexing works similarly to lists and dictionaries, you use the **index** of the element you're looking for:

In [110]:
g7_pop[100], g7_pop[150], g7_pop[400]

(np.float64(35.467), np.float64(63.951), np.float64(318.523))

### `1:-1` this still works?!?

In [111]:
g7_pop[1:-1]

150     63.951
200     80.940
250     60.665
300    127.061
350     64.511
Name: G7 Population in millions, dtype: float64

### string Index

And they _look_ like simple Python lists or Numpy Arrays. But they're actually more similar to Python `dict`s.
A Series has an `index`, that's similar to the automatic index assigned to Python's lists:
But, in contrast to lists, we can explicitly define the index:

In [112]:
g7_pop

100     35.467
150     63.951
200     80.940
250     60.665
300    127.061
350     64.511
400    318.523
Name: G7 Population in millions, dtype: float64

In [113]:
g7_pop.index = [
    "Canada",
    "France",
    "Germany",
    "Italy",
    "Japan",
    "United Kingdom",
    "United States",
]  # String index possible, which is really similar to python dict - keys

g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [114]:
g7_pop["Canada"]

np.float64(35.467)

In [115]:
g7_pop["Japan"]

np.float64(127.061)

In [116]:
g7_pop[["Germany", "France", "Italy"]]

Germany    80.940
France     63.951
Italy      60.665
Name: G7 Population in millions, dtype: float64

Note: 2025-July-10. Deprecate alert

/var/folders/0s/p6r6pj_15m5cg5q_gj8_xdjm0000gn/T/ipykernel_73270/2572533557.py:1:

FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior).
To access a value by position, use `ser.iloc[pos]`

In [117]:
g7_pop[0]

/var/folders/0s/p6r6pj_15m5cg5q_gj8_xdjm0000gn/T/ipykernel_88010/2572533557.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[0]

np.float64(35.467)

In [118]:
g7_pop[:5]

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
Name: G7 Population in millions, dtype: float64

In [119]:
g7_pop["Canada":"Japan"]

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
Name: G7 Population in millions, dtype: float64

In [120]:
# error. We expect key error right?
# g7_pop[["Spain", "Germany", "France", "Italy"]]

# Advanced Indexing

---
## loc

In [121]:
g7_pop.loc["Canada"]

np.float64(35.467)

In [122]:
g7_pop.loc["Japan"]

np.float64(127.061)

In [123]:
g7_pop.loc["Italy"], g7_pop["Italy"]  # works same

(np.float64(60.665), np.float64(60.665))

why use `loc` ?

In many cases, we can access Series elements directly using brackets,
such as `sr["a"]` or `sr[sr > sr.mean()]`. So why use loc?

The reason is clarity and safety.

The `[]` operator can be ambiguous, especially when the index contains integers.

For example, `sr[0]` might refer to the label 0 or the first element by position.

`loc` is explicit!: it always refers to the label-based access.

This makes code easier to read, less error-prone, and especially helpful
when dealing with slices, conditions, or integer-labeled indexes.

---
## iloc

Numeric positions can also be used, with the `iloc` attribute:

In [124]:
g7_pop.iloc[2]  # only integer possible

np.float64(80.94)

In [125]:
# g7_pop.iloc["Italy"]  # error. KEY_ERROR X,  TYPE_ERROR

In [126]:
g7_pop.iloc[[0, 1, 1, 2, 2, 2, 1]]

Canada     35.467
France     63.951
France     63.951
Germany    80.940
Germany    80.940
Germany    80.940
France     63.951
Name: G7 Population in millions, dtype: float64

In [127]:
g7_pop.iloc[1:4]  # range index using integer

France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

Slicing also works, but **important**, in Pandas, the upper limit is also included:

## try below and quiz yourself

```python
g7_pop[:5]
g7_pop[4:6]
g7_pop["Canada":"Japan"]
g7_pop["Japan":"Canada"]

---
# Conditional indexing (boolean arrays)

The same boolean array techniques we saw applied to numpy arrays can be used for Pandas `Series`:

In [128]:
g7_pop  # recall

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [129]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [130]:
g7_pop[g7_pop > 70].mean()

np.float64(175.508)

In [131]:
g7_pop.mean()

np.float64(107.30257142857144)

In [132]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [133]:
g7_pop.std(), g7_pop.mean(), g7_pop.max(), g7_pop.min()

(np.float64(97.24996987121581),
 np.float64(107.30257142857144),
 np.float64(318.523),
 np.float64(35.467))

In [134]:
g7_pop.describe()  # summary of statistics

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: G7 Population in millions, dtype: float64

#### multi-conditions using parenthesis.
- for *or* case use `|`
- for *AND* case use `&`
- Don'f forget to wrap parenthesis for multi conditions

In [135]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [136]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

#### using NOT (`~`)

In [137]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [138]:
g7_pop[g7_pop > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [139]:
~(g7_pop > 80)

Canada             True
France             True
Germany           False
Italy              True
Japan             False
United Kingdom     True
United States     False
Name: G7 Population in millions, dtype: bool

In [140]:
g7_pop[~(g7_pop > 80)]

Canada            35.467
France            63.951
Italy             60.665
United Kingdom    64.511
Name: G7 Population in millions, dtype: float64

In [143]:
g7_pop[~(g7_pop == 35.467)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

### using NOT Equal ~=

In [145]:
g7_pop[(g7_pop != 35.467)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

---

# Making Complete Series with one code cell

- recall:
Compare it with the [following table](https://docs.google.com/spreadsheets/d/1IlorV2-Oh9Da1JAZ7weVw86PQrQydSMp-ydVMH135iI/edit?usp=sharing): 

<img width="350" src="https://user-images.githubusercontent.com/872296/38149656-b5ce9816-3431-11e8-88e4-195756e25355.png" />

In [55]:
sr = pd.Series(
    [35, 63, 100, 200, 400, 500, 700],
    ["C", "J", "G", "F", "UK", "US", "K"],
)
sr

C      35
J      63
G     100
F     200
UK    400
US    500
K     700
dtype: int64

In [56]:
sr = pd.Series(
    ["C", "J", "G", "F", "UK", "US", "K"],
    [35, 63, 100, 200, 400, 500, 700],
)
sr

35      C
63      J
100     G
200     F
400    UK
500    US
700     K
dtype: object

order does NOT matter if you specify attributes

In [57]:
sr = pd.Series(
    index=["C", "J", "G", "F", "UK", "US", "K"],
    data=[35, 63, 100, 200, 400, 500, 700],
)
sr

C      35
J      63
G     100
F     200
UK    400
US    500
K     700
dtype: int64

In [58]:
sr = pd.Series(
    data=[35, 63, 100, 200, 400, 500, 700],
    index=["C", "J", "G", "F", "UK", "US", "K"],
    name="G7P",
    dtype=float,
)
sr

C      35.0
J      63.0
G     100.0
F     200.0
UK    400.0
US    500.0
K     700.0
Name: G7P, dtype: float64

In [59]:
# creating using dictionary

pd.Series(
    {
        "Canada": 35.467,
        "France": 63.951,
        "Germany": 80.94,
        "Italy": 60.665,
        "Japan": 127.061,
        "United Kingdom": 64.511,
        "United States": 318.523,
    },
    name="Group of Seven",
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Group of Seven, dtype: float64

### ðŸ¥µ Error: Trying to coerce float values to integers

Changing data from int to float is allowed because it preserves the values.
However, changing from float to int is not allowed by default in pandas,
as it may lead to loss of information (e.g., truncating decimal values).
In NumPy, such conversions are allowed, but pandas enforces stricter rules
to prevent unintended data loss. Use .astype(int) explicitly if needed.

In [ ]:
# creating using dictionary

# pd.Series(
#     {
#         "Canada": 35.467,
#         "France": 63.951,
#         "Germany": 80.94,
#         "Italy": 60.665,
#         "Japan": 127.061,
#         "United Kingdom": 64.511,
#         "United States": 318.523,
#     },
#     name="Group of Seven",
#     dtype=int,
# )

ValueError: Trying to coerce float values to integers

## Creating Series using existing Series

In [ ]:
g7_pop  # recall

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [ ]:
# remember below will have key error
# g7_pop["Spain"]

In [ ]:
# this is re-creation
g4 = pd.Series(g7_pop, index=["Spain", "Germany", "France", "Italy"])
g4

Spain         NaN
Germany    80.940
France     63.951
Italy      60.665
Name: G7 Population in millions, dtype: float64

---
# Methods for `Data Exploration`

## head and tail and sample

In [ ]:
g7_pop.head()

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.head(3)

Canada     35.467
France     63.951
Germany    80.940
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.tail()

Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.tail(2)

United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.sample()  # try many times

Japan    127.061
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.sample(6)  # try many times

Italy              60.665
Canada             35.467
United States     318.523
France             63.951
Japan             127.061
United Kingdom     64.511
Name: G7 Population in millions, dtype: float64

## info and describe for short summary

In [ ]:
g7_pop.info()

<class 'pandas.core.series.Series'>
Index: 7 entries, Canada to United States
Series name: G7 Population in millions
Non-Null Count  Dtype
--------------  -----
7 non-null      float64
dtypes: float64(1)
memory usage: 412.0+ bytes

In [ ]:
g7_pop.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: G7 Population in millions, dtype: float64

## More Statistical info

You've already seen the `describe` method, which gives you a good "summary" of the `DataFrame`. Let's explore other methods in more detail:

In [ ]:
for x in [g7_pop.median(), g7_pop.mean(), g7_pop.quantile(0.25), g7_pop.quantile(0.75)]:
    print(x.round(1))

64.5
107.3
62.3
104.0

---
# Methods for `Data Transformation`

## Vectorized operations and aggregation
Series also support vectorized operations and aggregation functions as Numpy:

In [ ]:
g7_pop * 1_000_000  # broadcasting

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

when update (with overwrite) suceed
- because the equal sign used

In [ ]:
g7_pop["Canada"] = 40.5
g7_pop  # check if Canada has 40.5

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.iloc[-1] = 500
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

when update (with overwrite) NOT WORK
- because the equal sign NOT used

In [ ]:
g7_pop["Canada"] * 4321

np.float64(175000.5)

In [ ]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop["Canada"] = g7_pop["Canada"] * 100  # this one has `=` sign which will work
g7_pop

Canada            4050.000
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      500.000
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop["Canada"] = 40.5  # roll back
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

## ðŸ‘¥ Copy

In [ ]:
sr = pd.Series(np.random.randn(5))
sr

0   -0.015021
1    0.052753
2    0.648891
3    0.635535
4    0.516601
dtype: float64

In [ ]:
cp = sr.copy()
cp[0] = 9999
cp

0    9999.000000
1       0.052753
2       0.648891
3       0.635535
4       0.516601
dtype: float64

In [ ]:
sr  # no change

0   -0.015021
1    0.052753
2    0.648891
3    0.635535
4    0.516601
dtype: float64

In [ ]:
sr2 = sr
sr2[0] = 7777
sr2

0    7777.000000
1       0.052753
2       0.648891
3       0.635535
4       0.516601
dtype: float64

In [ ]:
sr  # changed

0    7777.000000
1       0.052753
2       0.648891
3       0.635535
4       0.516601
dtype: float64

In [ ]:
sr2 = sr
sr2 = sr2 * 10000
sr2

0    7.777000e+07
1    5.275253e+02
2    6.488914e+03
3    6.355352e+03
4    5.166008e+03
dtype: float64

In [ ]:
sr  # unchanged

0    7777.000000
1       0.052753
2       0.648891
3       0.635535
4       0.516601
dtype: float64

In [ ]:
sr2

0    7.777000e+07
1    5.275253e+02
2    6.488914e+03
3    6.355352e+03
4    5.166008e+03
dtype: float64

### Understanding `copy()` in Pandas Series

In Python (and Pandas), assigning a variable like `sr2 = sr` does **not** create a new copy of the object. Instead, it makes a **reference** to the same object in memory.

This means changes to `sr2` may also affect `sr`, depending on how the change is made. To create an actual independent copy of a Series, use the `.copy()` method.

---

ðŸ“Š Behavior Comparison

| Code                  | Result                                                    |
|-----------------------|------------------------------------------------------------|
| `sr2 = sr`            | `sr2` and `sr` share the **same object** (reference copy) |
| `sr2[0] = 999`        | Modifies both `sr2` **and** `sr`                          |
| `sr2 = sr2 - 1000`    | `sr2` is now a **new object**; `sr` remains unchanged     |

---

ðŸ¤” Why are the results different?

1. `sr2 = sr`
- This line does not create a new Series. It just points `sr2` to the same memory as `sr`. Both variables are now references to the **same underlying object**.

1. `sr2[0] = 999`
- Since both `sr` and `sr2` refer to the same object, changing one will reflect in the other. This is a typical behavior of **mutable objects** like Pandas Series.

1. `sr2 = sr2 - 1000`
- Hereâ€™s the key difference:  
The subtraction creates a **new Series object** with new values. Then, `sr2` is reassigned to point to this new object.  
Now, `sr2` and `sr` are no longer connected â€” changing one won't affect the other.

---

âœ… How to make a true copy

To avoid unintentional changes to the original Series, use:

```python
sr2 = sr.copy()

## ðŸ” `map()` vs `replace()`

Both `map()` and `replace()` can be used to transform values in a Pandas Series, but they work in different ways and are meant for different use cases.

### ðŸ”¸ `replace()` â€“ Value substitution
Substitutes values according to a mapping.

Meant for direct value substitution, not transformation.

Cannot be used on .index (doesn't work on Index objects).

In [ ]:
s = pd.Series(["Mon", "Tue", "Wed"])
s

0    Mon
1    Tue
2    Wed
dtype: object

In [ ]:
# Example using a dictionary
di = {"Mon": "Monday", "Tue": "Tuesday", "Wed": "Wednesday"}
s.replace(di)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [ ]:
# Example using a dictionary
di = {0: "Zero", 1: "One", 2: "Two"}
s.index = s.index.replace(di)
s

AttributeError: 'RangeIndex' object has no attribute 'replace'

### ðŸ”¹ `map()` â€“ Element-wise transformation

- Applies a **function** or **dictionary** to each element.
- Typically used for **element-wise transformation**.
- Can be applied to the **index** as well (e.g., `Series.index.map()`).

In [ ]:
s = pd.Series(["Mon", "Tue", "Wed"])
s

0    Mon
1    Tue
2    Wed
dtype: object

In [ ]:
# Example using a dictionary
di = {"Mon": "Monday", "Tue": "Tuesday", "Wed": "Wednesday"}
s.map(di)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [ ]:
di = {0: "Zero", 1: "One", 2: "Two"}
s.index = s.index.map(di)
s  # no error

Zero    Mon
One     Tue
Two     Wed
dtype: object

what if you are doing this again? 
- making it to nan

In [ ]:
di = {0: "Zero", 1: "One", 2: "Two"}
s.index = s.index.map(di)
s

NaN    Mon
NaN    Tue
NaN    Wed
dtype: object

lets use function instead of dictionary

In [ ]:
s = pd.Series(["Mon", "Tue", "Wed"], index=[11, 12, 13])
s

11    Mon
12    Tue
13    Wed
dtype: object

In [ ]:
s.index.map(float)

Index([11.0, 12.0, 13.0], dtype='float64')

In [ ]:
s.map(str.upper)

11    MON
12    TUE
13    WED
dtype: object

In [ ]:
s.map(str.lower)

11    mon
12    tue
13    wed
dtype: object

In [ ]:
s.map(lambda x: x + "day")

11    Monday
12    Tueday
13    Wedday
dtype: object

In [ ]:
s.map(lambda x: x + "day" if x == "Mon" else x + "sday")

11     Monday
12    Tuesday
13    Wedsday
dtype: object

| Feature                | `map()` | `replace()` |
| ---------------------- | ------- | ----------- |
| Element-wise function? | âœ… Yes   | âŒ No        |
| Accepts dict mapping   | âœ… Yes   | âœ…           |

## sort

In [ ]:
g7_pop.sort_index()

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.sort_values()

Canada             35.467
Italy              60.665
France             63.951
United Kingdom     64.511
Germany            80.940
Japan             127.061
United States     318.523
Name: G7 Population in millions, dtype: float64