# Pandas Series exercises - Short Coding

In [231]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the version and the configuration
print("numpy version", np.__version__)
print("pandas version", pd.__version__)

numpy version 2.3.1
pandas version 2.3.0

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series Basic - creation, name, type

---
Create an empty pandas Series
- hint: we create empty numpy like this: `np.array()`

In [232]:
# your code goes here

In [233]:
pd.Series([])

Series([], dtype: object)

---
Given the `X` python list convert it to an `Z` pandas Series

In [234]:
X = [11.1, 12.2, 13.3, 14.4]  # given

In [235]:
# your code goes here

In [236]:
Z = pd.Series(X)
Z

0    11.1
1    12.2
2    13.3
3    14.4
dtype: float64

---
Using the Z python Series you just made, create Y pandas Series, but must with `dtype=int` option

In [237]:
# your code goes here

In [238]:
Y = pd.Series(Z, dtype=int)
Y

0    11
1    12
2    13
3    14
dtype: int64

---
print type of Series you just created to see `pandas.core.series.Series`

In [239]:
# your code goes here

In [240]:
type(Y)

pandas.core.series.Series

---
print data type of Series you just created to check it is integer

In [241]:
# your code goes here

In [242]:
Y.dtype

dtype('int64')

---
Given the X pandas Series, name it 'My letters'

In [243]:
X = pd.Series(["A", "B", "C"])

In [244]:
# your code goes here

In [245]:
X.name = "My letters"
X

0    A
1    B
2    C
Name: My letters, dtype: object

---
Given the X pandas Series
- show its `values`
- show the type of values is `numpy array`
- show the data type of values is `boolean`
- convert its datatype to be integer so it has values of `[1, 0, 1]`

In [246]:
X = pd.Series([True, False, True])

In [247]:
# your code goes here

In [248]:
print(X.values)
print("")
print(type(X.values))
print("")
print(X.dtype)
print("")
print(X.astype(int))

[ True False  True]

<class 'numpy.ndarray'>

bool

0    1
1    0
2    1
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

---
Assign string index the given X pandas Series

In [249]:
X = pd.Series(["A", "B", "C"])
index_names = ["first", "second", "third"]

In [250]:
# your code goes here

In [251]:
X.index = index_names
X

first     A
second    B
third     C
dtype: object

---
Given the X pandas Series, show its first element
- using iloc
- using loc

In [252]:
X = pd.Series(["A", "B", "C"], index=["first", "second", "third"])

In [253]:
# your code goes here

In [254]:
print(X.loc["first"])
print(X.iloc[0])

A
A

---
Given the X pandas Series, show its last element
- using iloc
- using loc

In [255]:
X = pd.Series(["A", "B", "C"], index=["first", "second", "third"])

In [256]:
# your code goes here

In [257]:
print(X.iloc[-1])
print(X.loc["third"])

C
C

---
Given the X pandas Series, show all middle elements
- using iloc-range-indexation
- using string-range-indexation

In [258]:
X = pd.Series(
    ["A", "B", "C", "D", "E"], index=["first", "second", "third", "forth", "fifth"]
)

In [259]:
# your code goes here

In [260]:
print(X.iloc[1:-1])
print("")
print(X.loc["second":"forth"])

second    B
third     C
forth     D
dtype: object

second    B
third     C
forth     D
dtype: object

---
Given the X pandas Series, show the elements in reverse position

In [261]:
X = pd.Series(
    ["A", "B", "C", "D", "E"], index=["first", "second", "third", "forth", "fifth"]
)

In [262]:
# your code goes here

In [263]:
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

---
Given the X pandas Series, show the first and last elements
- using iloc
- using loc

In [264]:
X = pd.Series(
    ["A", "B", "C", "D", "E"], index=["first", "second", "third", "forth", "fifth"]
)

In [265]:
# your code goes here

In [266]:
print(X.iloc[[-1, 0]])
print("")
print(X.loc[["fifth", "first"]])

fifth    E
first    A
dtype: object

fifth    E
first    A
dtype: object

---
get every 5th order of given pandas Series starting from 1st

In [267]:
X = pd.Series(np.arange(0, 1, 0.02))

In [268]:
# your code goes here

In [269]:
X.iloc[::5]

0     0.0
5     0.1
10    0.2
15    0.3
20    0.4
25    0.5
30    0.6
35    0.7
40    0.8
45    0.9
dtype: float64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

Convert the given integer pandas Series to float

In [270]:
X = pd.Series([1, 2, 3, 4, 5], index=["first", "second", "third", "forth", "fifth"])

In [271]:
# your code goes here

In [272]:
X.astype(float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

---
Order (sort) the given pandas Series, by index

In [273]:
X = pd.Series([4, 2, 5, 1, 3], index=["forth", "second", "fifth", "first", "third"])

In [274]:
# your code goes here

In [275]:
X.sort_index()

fifth     5
first     1
forth     4
second    2
third     3
dtype: int64

---
Order (sort) the given pandas Series, by values, in descending order

In [276]:
X = pd.Series([4, 2, 5, 1, 3], index=["forth", "second", "fifth", "first", "third"])

In [277]:
# your code goes here

In [278]:
X.sort_values(ascending=False)

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

---
Given the X pandas Series, set the fifth element equal to 10

In [279]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [280]:
# your code goes here

In [281]:
X.iloc[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

---
Given the X pandas Series, change all the middle elements to 0

In [282]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [283]:
# your code goes here

In [284]:
X[1:-1] = 10
X

A     1
B    10
C    10
D    10
E     5
dtype: int64

---
Given the X pandas Series, without changing original Series show result when 1000 is added to every element.

In [285]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [286]:
# your code goes here

In [287]:
X + 1000

A    1001
B    1002
C    1003
D    1004
E    1005
dtype: int64

---
Given the X pandas Series, add a colon to each label of index

In [288]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [289]:
# your code goes here

In [290]:
X.index = X.index + ":"
X

A:    1
B:    2
C:    3
D:    4
E:    5
dtype: int64

---
Given the X pandas Series, let the index to be lower-cased

In [291]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [292]:
# your code goes here

In [293]:
X.index = X.index.str.lower()
X

a    1
b    2
c    3
d    4
e    5
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

---
Given the X pandas Series, make a mask to leave negative elements only
- just print the mask (a Series of boolean elements)

In [294]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [295]:
# your code goes here

In [296]:
X < 0

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

---
Given the X pandas Series, get the negative elements
- use mask to see filtered result

In [297]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])  # given

In [298]:
# your code goes here

In [299]:
X[X < 0]

0   -1
3   -4
8   -9
dtype: int64

---
Given the X pandas Series, get numbers higher than 5

In [300]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [301]:
# your code goes here

In [302]:
X[X > 5]

5     6
9    10
dtype: int64

---
Given the X pandas Series, get numbers higher than the elements mean

In [303]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [304]:
# your code goes here

In [305]:
X[X > X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

---
Given the X pandas Series, get numbers equal to 2 or 10

In [306]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [307]:
# your code goes here

In [308]:
X[(X == 2) | (X == 10)]

1     2
9    10
dtype: int64

---
Given the X pandas Series, get even numbers but not multiple of 5

In [309]:
X = pd.Series(range(1, 20))

In [310]:
# your code goes here

In [311]:
X[X % 5 == 0]

4      5
9     10
14    15
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

---
Given the X pandas Series, using `all()` or `any()`, print in order:
- return True if any of its elements is zero
- return True if none of its elements is zero

In [312]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [313]:
# your code goes here

In [314]:
print(~X.all())
print(X.all())

True
False

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

---
Given the X pandas Series, show aggregation of its elements:

* print in order *
- sum
- maximum
- average - round up to 3 decimal
- standard deviation - round up to 2 decimal
- Coefficient of Variation (COV) - round up to 5 decimal

Note: The term "cov statistics" likely refers to covariance and coefficient of variation (`COV`), which are statistical measures. Covariance indicates the directional relationship between two random variables, while the `COV` is a standardized measure of dispersion, calculated as the standard deviation divided by the mean.

In [315]:
X = pd.Series([3, 5, 6, 7, 2, 3, 4, 9, 4])

In [316]:
# your code goes here

In [317]:
print(X.sum())
print(X.max())
avg = X.mean()
stdev = X.std()
print(avg.round(3))
print(stdev.round(2))
print((stdev / avg).round(5))

43
9
4.778
2.22
0.46541

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Word Problems

## 1 Weekly Temperature Analysis 🌡️
You are a weather analyst tracking the highest daily temperatures in Seoul over a week. You have the data stored in a pandas.Series, where the index represents the day of the week and the values are the recorded temperatures in Celsius.

*For easier backup purpose, create a copy `sr` of given Series to work with.*

🔍 Tasks:
- Convert all day names in the index to full names (e.g., 'Mon' → 'Monday'). (Hint: Use `map`)
- What is the average temperature of the week?
- Filter out the days where the temperature was above 30°C.
- Which day was the coolest? (Hint: Use `.idxmin()`)
- Print the hottest day’s name in uppercase.

In [354]:
# given

di = {
    "Mon": "Monday",
    "Tue": "Tuesday",
    "Wed": "Wednesday",
    "Thu": "Thursday",
    "Fri": "Friday",
    "Sat": "Saturday",
    "Sun": "Sunday",
}

temperature = pd.Series(
    [29.5, 30.2, 31.1, 33.0, 32.5, 28.4, 27.9],
    index=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
)
temperature

Mon    29.5
Tue    30.2
Wed    31.1
Thu    33.0
Fri    32.5
Sat    28.4
Sun    27.9
dtype: float64

In [356]:
sr = temperature.copy()

sr.index = sr.index.map(di)
print(sr)
print(sr.mean())
print(sr[sr > 30].index.values)
print(sr.idxmin())
print(sr.idxmax().upper())

Monday       29.5
Tuesday      30.2
Wednesday    31.1
Thursday     33.0
Friday       32.5
Saturday     28.4
Sunday       27.9
dtype: float64
30.371428571428574
['Tuesday' 'Wednesday' 'Thursday' 'Friday']
Sunday
THURSDAY

## 2 Fruit Shop Inventory Tracker 🍎

You are managing a fruit shop and keeping track of current inventory using a pandas.Series:

*For easier backup purpose, create a copy `sr` of given Series to work with.*

TASK
- Capitalize the first letter of each fruit name in the index. (no need to show updated Series)
- Which fruits are out of stock (stock = 0)? Create a Series of only those, and print it
- Create a new Series with only the fruits that have 10 or more items.
- Restock banana by adding 100 items to its current count and print the updated Series.

In [357]:
stock = pd.Series(
    [20, 15, 0, 30, 5], index=["apple", "banana", "mango", "orange", "grape"]
)

In [361]:
sr = stock.copy()
sr.index = sr.index.str.capitalize()
print(sr[sr == 0].index[0])
print(sr[sr >= 10])
sr.loc["Banana"] = sr.loc["Banana"] + 100
sr

Mango
Apple     20
Banana    15
Orange    30
dtype: int64

Apple      20
Banana    115
Mango       0
Orange     30
Grape       5
dtype: int64

## 3 Book Ratings Dashboard 📚

You run a small book review blog and store book ratings (out of 5) as a Series:

*For easier backup purpose, create a copy `sr` of given Series to work with.*

- name your series `Recommended`
- Remove the "Book " prefix from each index label. (e.g., "Book A" → "A")
- Convert the ratings into a Boolean value: True if the rating is 3.5 or higher else False
-

In [362]:
ratings = pd.Series(
    [4.5, 3.2, 5.0, 2.8, 4.0], index=["Book A", "Book B", "Book C", "Book D", "Book E"]
)

In [363]:
sr = ratings.copy()
sr.name = "Recommended"
sr.index = sr.index.str[-1]
sr = sr >= 3.5
sr

A     True
B    False
C     True
D    False
E     True
Name: Recommended, dtype: bool