![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas DataFrame exercises

In [429]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.0.3

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame creation

---
Create an empty pandas DataFrame

In [430]:
# your code goes here

---
Create a pandas DataFrame with None data None index None columns

In [432]:
# your code goes here

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Marvel_example

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

In [434]:
# given data

col_names = [
    "name",
    "gender",
    "first_appearance",
    "superpower",
    "team",
    "origin",
    "popularity_score",
    "status",
]
marvel_data = [
    [
        "Spider-Man",
        "male",
        1962,
        "Wall-crawling, super strength",
        "Avengers",
        "New York",
        9.8,
        "active",
    ],
    [
        "Captain America",
        "male",
        1941,
        "Super soldier strength",
        "Avengers",
        "World War II",
        9.6,
        "active",
    ],
    [
        "Wolverine",
        "male",
        1974,
        "Regeneration, claws",
        "X-Men",
        "Canada",
        9.5,
        "active",
    ],
    [
        "Iron Man",
        "male",
        1963,
        "Genius-level intellect, powered armor",
        "Avengers",
        "New York",
        9.7,
        "deceased",
    ],
    [
        "Thor",
        "male",
        1963,
        "Godly strength, Mj√∂lnir",
        "Avengers",
        "Asgard",
        9.8,
        "active",
    ],
    [
        "Thing",
        "male",
        1961,
        "Rocky skin, super strength",
        "Fantastic Four",
        "New York",
        8.5,
        "active",
    ],
    [
        "Mister Fantastic",
        "male",
        1961,
        "Elastic body",
        "Fantastic Four",
        "New York",
        8.8,
        "active",
    ],
    [
        "Hulk",
        "male",
        1962,
        "Super strength, rage-induced transformation",
        "Avengers",
        "New York",
        9.2,
        "active",
    ],
    [
        "Beast",
        "male",
        1963,
        "Super strength, agility",
        "X-Men",
        "Illinois",
        8.3,
        "active",
    ],
    [
        "Invisible Woman",
        "female",
        1961,
        "Invisibility, force fields",
        "Fantastic Four",
        "New York",
        8.9,
        "active",
    ],
    ["Storm", "female", 1975, "Weather manipulation", "X-Men", "Kenya", 9.1, "active"],
    ["Namor", "male", 1939, "Aquatic abilities", "X-Men", "Atlantis", 7.9, "active"],
    ["Hawkeye", "male", 1964, "Expert archer", "Avengers", "Iowa", 7.8, "active"],
    [
        "Daredevil",
        "male",
        1964,
        "Enhanced senses, martial arts",
        "Defenders",
        "New York",
        8.7,
        "active",
    ],
    [
        "Doctor Strange",
        "male",
        1963,
        "Master of mystic arts",
        "Defenders",
        "New York",
        9.4,
        "active",
    ],
    [
        "Hank Pym",
        "male",
        1962,
        "Size manipulation",
        "Avengers",
        "New York",
        8.0,
        "retired",
    ],
    [
        "Scarlet Witch",
        "female",
        1964,
        "Reality manipulation",
        "Avengers",
        "Sokovia",
        9.3,
        "active",
    ],
    [
        "Wasp",
        "female",
        1963,
        "Size manipulation, flight",
        "Avengers",
        "New York",
        8.1,
        "active",
    ],
    [
        "Black Widow",
        "female",
        1964,
        "Expert spy, martial artist",
        "Avengers",
        "Russia",
        9.0,
        "deceased",
    ],
    [
        "Vision",
        "male",
        1968,
        "Density manipulation",
        "Avengers",
        "Synthoid",
        8.9,
        "active",
    ],
]

---
Create a `marvel_df` pandas DataFrame with the given `marvel_data`  with `col_names`

In [435]:
# your code goes here

---
show its columns only

In [438]:
# your code goes here

---
show the row count of this dataframe

In [440]:
# your code goes here

---
set name column to be index of this dataframe

In [442]:
# your code goes here

---
Drop 'Namor' and 'Hank Pym' rows - do not save onto original. just show the result

In [444]:
# your code goes here

---
Drop 'superpower' column - do not save onto original. just show the result

In [446]:
# your code goes here

---
Let's roll it back. Let's reset name to be column not index anymore

In [448]:
# your code goes here

---
create copy of current dataframe of backup

```
backup = marvel_data.copy()

In [450]:
backup = marvel_data.copy()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame selection, slicing and indexation

---
Show the first 4 rows on `marvel_df` using string-range indexing

In [451]:
# your code goes here

---
Show the last 4 rows on `marvel_df` using tail function

In [453]:
# your code goes here

---
Show the last 3 columns on `marvel_df` using iloc

In [455]:
# your code goes here

---
Show just the `gender` of the first 5 elements on `marvel_df`
- make sure you are printing it as DATAFRAME

In [457]:
# your code goes here

---
Show the first_appearance of all middle rows on `marvel_df`
- make sure you are printing it as DATAFRAME

In [459]:
# your code goes here

---
Show the first and last rows on `marvel_df`

In [461]:
# your code goes here

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame manipulation and operations

---
Modify the `first_appearance` of 'Vision' to year 1964

In [463]:
# your code goes here

---
Add a new column to `marvel_df` called `years_since` with the years since `first_appearance`

In [465]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, make a mask showing the female characters - just show mask

In [467]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970 - show filtered result

In [469]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` is NOT 1970 - show filtered result

In [471]:
# your code goes here

---
Convert a gender column to have 'M' and 'F' instead of 'male' and 'female'
- use replace

In [473]:
# your code goes here

---
Let's roll it back. Convert a gender column to have 'male' and 'female'
- use masking

In [475]:
# your code goes here

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame summary statistics

---
Show basic statistics summary of `marvel_df`

In [477]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, show each count of character's origin
- you will know how many people are from New york, Asgard, Iowa etc

In [479]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, show the minimum and mean value of `first_appearance`

In [481]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [483]:
# your code goes here

---
Given the `marvel_df` pandas DataFrame, consider the conditions.
- first_appearance is before 1969(not including 1969)
- male
- team name not Fantastic Four

And find:
- find how many characters are qualified
- find their average of popularity score

In [485]:
# your code goes here

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame basic plottings

---
Bar-Plot the value count of `first_appearance`
- your plot must show there are 5 characters in 1963, 3 characters in 1962 etc

In [486]:
# your code goes here

---
Bar-Plot the value count of `team`
- your plot must show there are 11 Avengers, 4 X-men etc

In [488]:
# your code goes here