# function (with return or without return)

In [7]:
def get_season(x):
    if 5 <= x <= 8:
        print("Summer")
    elif 9 <= x <= 10:
        print("Fall")
    elif x in [11, 12, 1, 2]:  # list
        print("Winter")
    elif x in {3, 4}:  # set
        print("Spring")
    else:
        print("you put wrong number")

In [8]:
get_season(8)

Summer

function (lambda)

In [ ]:
# TODO

split

data conversion

# for
- iterable

In [ ]:
for i in [5]:
    print(i)

TypeError: 'int' object is not iterable

In [10]:
print(3, 4, 5, sep="\t")

3	4	5

# Data Structure

set

In [9]:
a = {11, 12, 13, 11, 11, 11, 11, 12, 13, 13, 13, 14}
print(a)

{11, 12, 13, 14}

In [ ]:
d = {1: "hello", 2: "hi", 3: "hola", 4: "danke"}

In [18]:
d[4]

'danke'

In [21]:
d[3]

'hola'

In [22]:
d.keys

In [23]:
d.values

In [24]:
d.keys()

dict_keys([1, 2, 3, 4])

In [25]:
d.values()

dict_values(['hello', 'hi', 'hola', 'danke'])

In [27]:
d = {1: [11, 12, 13, 14], 2: [21, 22], 3: [50, 52], 4: [100]}
d

{1: [11, 12, 13, 14], 2: [21, 22], 3: [50, 52], 4: [100]}

In [29]:
d[4][0]

100

In [30]:
d[3][1]

52

In [ ]:
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
x = a + b + c
y = "{:.2f}".format((a + b + c) / 3)
print(x, y)

6 2.00000

In [24]:
x = int(input())
for i in range(x - 1, -1, -1):
    print(i)

7
6
5
4
3
2
1
0

In [6]:
lst = [11, -1, 12, 13]
min(lst)

TypeError: 'str' object is not callable

In [4]:
hr, min, sec = "21:02:30".split(":")
print(hr)
print(min)
print(sec)

21
02
30

In [5]:
min([-1, -2, 0, 99, 50])

TypeError: 'str' object is not callable